@import "./utils/variables";

* {
    box-sizing: border-box;
    font-family: 'Poppins-Regular', sans-serif;
}

#root,body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width:100vw;
    background-color: $neutral-off-white;
}

.App {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 10rem;
    width: 100%;
    max-width: 80vw;
    border: 1px solid $neutral-white;
    border-radius: 30px;
    border-bottom-right-radius: 35%;
    min-height: 1000px;
    max-height:90vw;
    background-color: $neutral-white;
    padding: 5rem;
}

/* Tablet */
@media only screen and (max-width: 1024px) {
    .App {
        max-width:70vw;
        min-height: 800px;
        border-bottom-right-radius: 30%;
        margin-top: 5rem;
    }
}

/* Mobile */
@media only screen and (max-width: 768px) {
    .App {
        max-width: 100%;
        min-height: 600px;
        border-radius: 20px;
        border-bottom-right-radius: 25%;
        margin-top: 2rem;
        padding: 20px;
    }
}
