// Layout

$mobile-width: 375px;
$desktop-width: 1440px;

// Colors
$primary-purple: hsl(259, 100%, 65%);
$primary-light-red: hsl(0, 100%, 67%);
$neutral-white: hsl(0, 0%, 100%);
$neutral-off-white: hsl(0, 0%, 94%);
$neutral-light-grey: hsl(0, 0%, 86%);
$neutral-smokey-grey: hsl(0, 1%, 44%);
$neutral-off-black: hsl(0, 0%, 8%);

// Typography
$body-copy-font-size: 32px;
$body-font-family: 'Poppins', sans-serif;
$body-font-weights: 400i, 700, 800;